.aboutus-section {
    padding: 90px 0;
}
.aboutus-title {
    font-size: 20px;
    letter-spacing: 0;
    line-height: 32px;
    margin: 0 0 39px;
    padding: 0 0 11px;
    position: relative;
    color: #04585b
}
.aboutus-title::after {
    background: #04585b none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 54px;
}
.aboutus-text {
    color: #606060;
    font-size: 13px;
    line-height: 22px;
    margin: 0 0 35px;
}

.aboutus-banner{
    position:relative;
    top:20px;
}
.aboutus-banner img{
    width:450px;
    height:250px;
}
.aboutright{
position:relative;
left:100px;
}
.icon {
    color : #49463f;
    padding:0px;
    font-size:40px;
    border: 1px solid #494845;
    border-radius: 100px;
    color: #2b2a27;
    font-size: 28px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    width: 70px;
}
.feature-box{
    color: #606060;
    font-size: 13px;
    line-height: 22px;
    margin: 0 0 35px;
}

.feature-box h6{
    color:#04585b
}

.aboutdiv{
    position:relative;
    top:80px;
}

.feature-content{
    position:relative;
    right:60px;
}